*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

// NAVBAR STYLING ========================================================

// Navbar styling
// David
nav {
    a {
        svg {
            height: 50px;
            width: 50px;
        }
    }
}

// END OF NAVBAR STYLING ==================================================