
*, *::before, *::after {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

$blue: hsl(207, 42%, 36%);
$borders: hsl(34, 100%, 75%);

body {
    background-color: #72A0C1 !important;
    nav{
        font-family: script-mj-bold;
        background-color: #040404;
        color: #fff;
        position: relative;
        background: transparent;

        li{
            &:hover{
                border-bottom: 2px solid white;
            }
        }
    
        &::before{
            content: "";
            position: fixed;
            // background: #024759 top right no-repeat; //can place an image if you want
            background-size: cover;
            left: 0;
            right: 0;
            top: 0;
            height: 100vh;
            z-index: -1;
        }
    }
}

.navy{
    background-color: #024759 !important;
}

// Weekly style

.weeklyView {
    background-color: $blue;
    display: flex;
    flex-flow: row nowrap;
    padding: 10px 50px;
    justify-content: space-evenly;
    border: 5px solid $borders;
    border-radius: 1rem;
    margin-right: 500px;
    margin-left: 500px;
    .weekday {
        border: 1px solid $borders;
        width: fit-content;
        height: fit-content;
        text-align: center;
        // line-height: 200%;
        svg {
            
            color: white;
            height: 100px !important;
            width: 100px !important;
        }
    }
}


