*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/* SCSS HSL */
$jet: hsla(0, 0%, 21%, 1);
$ming: hsla(183, 31%, 34%, 1);
$white: hsla(0, 0%, 100%, 1);
$gainsboro: hsla(0, 0%, 85%, 1);
$indigo-dye: hsla(204, 42%, 27%, 1);

body {
    background-color: #72a0c1 !important;

    nav {
        //Hover Effect
        li {
            &:hover {
                border-bottom: 2px solid white;
            }
        }

        // &::before{
        //     content: "";
        //     position: fixed;
        //     // background: #024759 top right no-repeat; //can place an image if you want
        //     background-size: cover;
        //     left: 0;
        //     right: 0;
        //     top: 0;
        //     height: 100vh;
        //     z-index: -1;
        // }
    }
}

//Nav becomes navy
.navy {
    background-color: #024759 !important;
}

// Weekly style
.weeklyView {
    background-color: $indigo-dye;
    display: flex;
    gap: 10px !important;
    flex-flow: row nowrap;
    padding: 25px 70px;
    justify-content: space-between;
    border: 5px solid $gainsboro;
    border-radius: 1rem;
    // margin-right: 500px;
    // margin-left: 500px;
    .weekday {
        // width: 100px;
        border: 2px solid $gainsboro;
        
        border-left: 0;
        border-right: 0;
        &:hover {
            animation: fadeSide 1s ease-out forwards;
            @keyframes fadeSide {
                to {
                    border-right: 2px solid $gainsboro;
                    border-left: 2px solid $gainsboro;
                }
            }
        }
        display: flex;
        flex-flow: column;
        flex-wrap: nowrap;
        align-items: center;

        // Weekday title styling
        .title {
            $fontColor: lightblue;
            font-size: 20px;
            font-family: "Newsreader", serif;
            font-weight: bold;
            color: $fontColor;
        }
        p {
            margin-bottom: 0;
            // font styling
            font-family: "Newsreader", serif;
            font-size: 25px;
            color: $gainsboro;
        }
        svg {
            color: white;
            animation: rotating 10s linear infinite;

            // Makes the icon spin where it is
            transform-origin: center;
            transform-box: fill-box;
        }
    }
}

// Animate for the rotate of the icons
@keyframes rotating {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}

// Styles for when the sreen is small ornot large
@media only screen and (min-width: 992px) {
    .weeklyView {
        // padding: 0;
        // gap: 0 !important;
    }
}
